// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css"); // Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/sass/bootstrap-select.scss';
/* .navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.navbar-icon {
  width: 18px;
  height: 18px;
}